:root{
  /* font-weight */
  --font--regular--:300;
  --font--bold--:700;
  --font--extra--bold:800;
}
.ally--hidden{
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}
.section__title{
  font-size: 24px;
  font-weight: var(--font--bold--);
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 20px;
}
.boards .more_btn{
  display: block;
  position: absolute;
  top: 6px;
  right: 0;
  width: 22px;
  height: 20px;
  border: 1px solid #ddd;
  background: url(../img/icon_set_common.png)no-repeat -1px -1px;

}