/* main */
#main{
  width: 1152px;
  margin: 0 auto;
}
/* top__banner */
#top{
  display: flex;
  justify-content: space-between;
  width: 1152px;
  margin: 0 auto;
}

#top .top__banner__slide{
  width: 770px;
  position: relative;
}
#top .slide__container{
  width: 690px;
  height: 350px;
  overflow: hidden;
  margin-left: 80px;
  position: relative;

}
.top__banner__slide .division{
  position: absolute;
  top: 0;
  left: 0;
}
/* h3가 클릭 되었을 때  */
.top__banner__slide .division a.on{
  background-color: #0158a8;
  color: #fff;
}
.top__banner__slide .division a.on::after{
  content: '';
  position: absolute;
  right: -40px;
  top: 50%;
  margin-top: -20px;
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #0158a8;
}

.top__banner__slide .division a{
  position: relative;
  display: block;
  padding-top: 50px;
  background-color: #d2e1e9;
  color: #333;
  font-weight: 600;
  text-align: center;
  width: 80px;
  height: 175px;
  z-index: 100;
}

.division__icon{
  background: url(../img/icon_main_2019.png)no-repeat;
}
.top__banner__slide .division .division__icon{
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto 10px;
  background-color: #fff;
  border-radius: 50%;
}
.top__banner__slide .division .division__icon.news{
  background-position: 0 0;
}
.top__banner__slide .division .division__icon.citizen{
  background-position: -50px 0;
}
.top__banner__slide .banner__swiper{
  width: 690px;
}
.top__banner__slide .banner__swiper0{
  position: absolute;
  height: 350px;
  z-index: 1;
}
.top__banner__slide .banner__swiper0.vis{
  z-index: 2;
}
.top__banner__slide .banner__swiper1{
  position: absolute;
  left: 0;
  top: 0;
  height: 350px;
  z-index: 1;
}
.top__banner__slide .banner__swiper1.vis{
  z-index: 2;
}
.top__banner__slide .main__banner-slide{
  width: 100%;
  height: 100%;
}
.main__banner-slide a{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.main__banner-slide a .text__wrap{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding-left:10px;
  padding-right: 122px;
  background-color: rgba(0, 0, 0, 0.7);
}
.main__banner-slide a .text__wrap p{
  line-height: 40px;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}

.top__banner--right{
  width: 360px;height: 350px;
  position: relative;
}
.corona{
  width: 100% ;
  height: 213px;
  background: url(../img/bg_corona_pc_210820_2.jpg);
}
.corona a{
  display: block;
  width: 100%;
}
.corona__status{
  height: 93px;
  position: relative;
}
.corona__status .input__list .result0{
    position: absolute;
    top: 11px;
    right: 0;
    font-size: 12px;
    font-weight: bold;
    margin-left: 25px;
    color: #000;
    left: initial;
    right: 30px;
}
.corona__status .input__list span{
  position: absolute;
  left: 50%;
  display: inline-block;
  min-width: 47px;
  height: 16px;
  color: #fff;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  letter-spacing: -0.09em;
}
.corona__status .input__list .result1{
  top: 60px;
  margin-left: -105px;
}
.corona__status .input__list .result2{
  top: 60px;
  margin-left: 57px;
}
.corona__vaccine{
  height: 120px;
  position: relative;
}
.vaccinlist span{
  position: absolute;
  left: 50%;
  display: inline-block;
  min-width: 47px;
  height: 16px;
  color: #fff;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  letter-spacing: -0.09em;
}
.vaccinlist .result10{
  top: 11px;
  font-size: 12px;
  font-weight: bold;
  margin-left: 25px;
  color: #000;
  left: initial;
  right: 30px
}
.vaccinlist .result11{
  top: 67px;
  margin-left: -55px;
}
.vaccinlist .result12{
  top:77px;
  margin-left: -133px;
}
.vaccinlist .result13{
  top:67px;
  margin-left: 17px;
}
.vaccinlist .result14{
  top:67px;
  margin-left: 107px;
}
.vaccinlist .result15{
  top: 90px;
  margin-left: -55px;
}
.vaccinlist .result16{
  display: none;
  top:77px;
  margin-left: -133px;
}
.vaccinlist .result17{
  top:88px;
  margin-left: 17px;
}
.vaccinlist .result18{
  top:88px;
  margin-left: 107px;
}
.mayor{
  margin-top: 7px;
  height: 130px;
  position: absolute;
  bottom: 0;
}
/* service */
#service{
  width: 1152px;
  margin: 0 auto;
  padding-top: 50px;
}
#service .section__title{
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
  font-size: 24px;
  font-weight: var(--font--bold--);
}
.major__service{
  width: 100%;
  height: auto;
  position: relative;
}
.more__site--btn{
  display:inline-block;
  border: 1px solid #ddd;
  width: 112px;
  height: 29px;
  display: inline-block;
  padding: 4px 7px;
  font-size: 15px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
}
.major__service__list ul{
  display:flex;
  justify-content: space-between;
}
.major__service__list ul li{
  text-align: center;
  height: 90px;
}
.major__service__list ul li a{
  font-size: 15px;
  width: 100%;
  height: 100%;
  display: block;
}
.major__service__list ul li a > i{
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
  background: url(../img/icon_set_service_2021.png)no-repeat;
}
.major__service__list ul li:nth-child(1) a > i{
  background-position: -360px 0;
}
.major__service__list ul li:nth-child(2) a > i{
  background-position: 0 0;
}
.major__service__list ul li:nth-child(3) a > i{
  background-position: -120px 0;
}
.major__service__list ul li:nth-child(4) a > i{
  background-position: -300px 0;
}
.major__service__list ul li:nth-child(5) a > i{
  background-position: -180px 0;
}
.major__service__list ul li:nth-child(6) a > i{
  background-position: -960px 0;
}
.major__service__list ul li:nth-child(7) a > i{
  background-position: -780px 0;
}
.major__service__list ul li:nth-child(8) a > i{
  background-position: -840px 0;
}
.major__service__list ul li:nth-child(9) a > i{
  background-position: -1020px 0;
}
.major__service__list ul li:nth-child(10) a > i{
  background-position: -1080px 0;
}
.major__service__list ul li:nth-child(11) a > i{
  background-position: -600px 0;
}

.more__site--btn img{
  margin-left: 5px;
  vertical-align: middle;
}
/* corona__relation */
#corona__relation{
  width: 100%;
  margin-top: 35px;
  background-color: #eff4f8;
}
.corona__relation--inner{
  width: 1152px;
  margin: 0 auto;

}
.corona__relation--inner ul{
  display: flex;
}
.corona__relation--inner ul li{
  width: 288px;
  padding: 20px 0;
  position: relative;
}
.corona__relation--inner ul li::after{
  content: "";
  width: 1px;
  height: 60px;
  background-color: #dbdbdb;
  position: absolute;
  right: 0;
  top:50%;
  transform: translateY(-50%);
}
.corona__relation--inner ul li:last-child::after{
  content: "";
  display: none;
}
/* notice */
#notice__board{
  width: 1152px;
  max-width: 1152px;
  margin: 0 auto;
  padding: 50px 0;
  border-bottom: 2px solid #222222;
}
.notice__boards{
  display: flex;
  justify-content: space-between;

}
.notice__boards > .boards.event{
  position: relative;
}
.notice__boards > .boards{
  width: 360px;
  height: auto;
}
.notice__boards > .boards h2{
  font-size: 24px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #dbdbdb;
  font-weight: var(--font--bold--);
}
.notice__boards > .boards ul li {
  padding: 6px 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notice__boards > .boards ul li a{
  font-size: 15px;
  color: #222;
}
.notice__boards > .boards ul li span{
  margin-right: 9px;
}
.notice__boards > .boards ul li .culture{
  color: #9b64d3;
}
.notice__boards > .boards ul li .admin{
  color: #028ab6;
}
.notice__boards > .boards ul li .house{
  color: #c35c3c;
}
.notice__boards > .boards ul li .envir{
  color: #599100;
  
}
.notice__boards > .boards:last-child h2{
  border-bottom: none;
}
.notice__boards > .boards.festival{
  margin: 0 36px;
  position: relative;
}
.notice__boards > .boards.often__service ul{
  display: flex;
  flex-wrap: wrap;
  padding: 17px 5px 7px 20px;
  background-color: #eff4f8;
}
.notice__boards > .boards.often__service ul li {
  width: 50%;
  padding: 0 0 10px 10px;
  position: relative;
}
.notice__boards > .boards.often__service ul li::before{
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #333;
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 0;
  
}
.notice__boards > .boards.often__service ul li a{
  display: block;
  width: 94%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  color: #333;
}
#field{
  padding-top: 40px;
  width: 100%;
}
#field ul{
  display: flex;
  justify-content: space-between;
  padding: 0 27px;
}
#field ul li{
  width: 85px;
  height: auto;
}
#field ul li a{
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}
#field ul li a > span{
  display: block;
  margin-top: 5px;
  padding-top: 10px;
  font-size: 16px;
}
/* news */
#news{
  width: 100%;
  margin-top: 25px;
  padding: 20px 0 30px;
}
.news__service{
  position: relative;
}
.news__service a{
  display: inline-block;
  position: absolute;
  font-size: 15px;
  color: #7d7d7d;
  bottom: 50%;
  right: 30px;
}

.news__service a::before{
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #7d7d7d;
  position: absolute;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);

}
.news__service a::after{
  content: "";
  display: block;
  width: 2px;
  height: 13px;
  background-color: #7d7d7d;
  position: absolute;
  right:-14px;
  top: 50%;
  transform: translateY(-50%);
}


.news__list{
  display: flex;
  flex-wrap: wrap;
  height: auto;
}
.news__list a:hover img{
  transform: scale(1.1);
  transition: 0.3s;
}
.news__list img{
  transition: 0.3s;
}
.news__list .img__container{
  overflow: hidden;
}

.news__list article{
  width: 273px;
  position: relative;
  margin-left: 20px;
}
.news__list article:nth-child(1),
.news__list article:nth-child(5){
  margin-left: 0;
}
.news__list article h3{
  position: absolute;
  top: 156px;
  width: 82px;
  height: 32px;
  color: #fff;
  text-align: center;
  line-height: 32px;
  z-index: 1;
}
.news__list article h3.article__welfare{
  background-color: #d76000;
}
.news__list article h3.article__safety{
  background-color: #e44869;
}
.news__list article h3.article__enviroment{
  background-color: #599100;
}
.news__list article h3.article__economy{
  background-color: #069363;
}
.news__list article h3.article__culture{
  background-color: #9b64d3;
}
.news__list article img{
  max-width: 100%;
}
.news__list article .img__container{
  width: 100%;
  height: 188px;
  overflow: hidden;
  margin-bottom: 15px;
}
.news__list article p{
  width: 100%;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  margin-bottom: 20px;
  font-size: 16px;
  word-wrap: normal ;
  line-height: 1.5;
}
/* seoul boards */
#seoul{
  padding-bottom: 50px;
  border-bottom: 2px solid #222;
}
.seoul__board{
  display: flex;
  
}
.seoul__board h2{
  font-size: 24px;
  font-weight: var(--font--bold--);
  padding-bottom: 11px;
}
.seoul__board:last-child h2{
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 0;
}
.seoul__board .seoul__board__movie{
  width: 280px;
}
.seoul__board .img__container{
  width: 100%;
  overflow: hidden;
}
.seoul__board .seoul__board__movie img{
  transition: all 0.3s ease;
  width: 100%;
}
.seoul__board .seoul__board__movie :hover img{
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.seoul__board .seoul__board__movie a{
  display: block;
  width: 100%;
  position: relative;
}
.seoul__board .seoul__board__movie p{
  color: #fff;
  font-size: 16px;
  font-weight: var(--font--bold--);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block ;
  padding: 11px 20px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.seoul__board  .seoul__news{
  width: 480px;
  margin-left: 20px;
}
.seoul__board .seoul__news ul li{
  padding: 8px 0;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #555;

}
.seoul__board .seoul__news ul li a{
  width: 100%;
  font-size: 16px;
}
.seoul__board .seoul__news ul li a > b{
  font-size: 16px;
  color: #09ac43;
  margin-right: 18px;
}
.seoul__board  .seoul__sns{
  width: 350px;
  height: 195px;
  margin-left: 22px;
  background: url(../img/bg_sns_list.jpg) no-repeat;
  position: relative;
}
.seoul__sns__banner{
  display: block;
  width: 100%;
  height: 100%;
  line-height: 1.2;
  padding: 10px 15px;
  font-size: 22px;
  font-weight: 700;
  color: #222222;
  position: relative;
}
.seoul__sns__banner span{
  display: inline-block;
  position: relative;
  padding-right: 50px;
  color: #222;
  font-size: 22px;
  font-weight: 600;
}
.seoul__sns__banner span::after{
  content: '';
  position: absolute;
  top: 2px;
  right: 0;
  display: inline-block;
  width: 34px;
  height: 24px;
  background: url(../img/ico_sns_list_2021.png) no-repeat -247px 0;
  border-left: 1px solid #878787;
  padding-right: 6px;
}

.seoul__sns__container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 276px;
  height: 40px;
  display: flex;
  justify-content: center;
 
}
.seoul__sns__container li{
  margin: 0 3px;  
}
.seoul__sns__container li a{
  display: block;
  width: 40px;
  height: 40px;
  background: url(../img/ico_sns_list_2021.png) no-repeat 0 0;
  text-indent: -9999px;
}
.seoul__sns__container li a.instargrem{
  background-position: 0px 0;
}
.seoul__sns__container li a.facebook{
  background-position: -40px 0;
}
.seoul__sns__container li a.twitter{
  background-position: -80px 0
}
.seoul__sns__container li a.blog{
  background-position: -120px 0;
}
.seoul__sns__container li a.youtube{
  background-position: -160px 0;
}
.seoul__sns__container li a.kakaostory{
  background-position: -200px 0;
}
/* slide__banner */
#slide__banner{
  padding: 50px 0 50px 0;
}
/* related__site*/
#related{
  width: 100%;
}
.related__site{
  margin-bottom: 20px;
  position: relative;
}
.related__site .related__site__container{
  overflow: hidden;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  display: flex;
  
  
}
.related__site .related__site__container li{
  overflow: hidden;
  width: 33.3333%;
}
.related__site .related__site__container .related__btn{
  display: block;
  width: 100%;
  border-left: 1px solid #d0d0d0;
  background-color: #f7f7f7;
  color: #222;
  padding: 16px 0;
  cursor: pointer;
}
.related__site .related__site__container > li:last-child > .related__btn{
  border-right: 1px solid #d0d0d0;
}
.related__site .related__site__container > li > .related__btn >span{
  text-align: center;
  letter-spacing: 0;
}

.related__site__list.panel{
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  padding: 10px 20px 20px;
  background-color: #fff;
  border: 1px solid #d0d0d0;
  z-index: 2;
  
}
.related__site__list.panelshow{
  opacity: 1;
  visibility: visible;
}

.related__site__list .site__list__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.related__site__list .site__list__container li{
  width: 25%;
  margin-top: 10px;
  justify-self: flex-start;
}
.related__site__list .site__list__container  li a{
  color: #555;
  
}

.top__btn{
  position: fixed;
  right: 10%;
  bottom: 0%;
  background-color: transparent;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;
}
.top__btn.active{
  opacity: 1;
  bottom: 10%;
  transition: all 0.3s ease;
}